.Card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.Card:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.Card img {
  height: 200px;
  width: 200px;
}
