.Card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Card:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.1s ease-in-out;
  transform: translateY(-5px);
}

.Card img {
  height: 200px;
  width: 200px;
}
